---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import udsigt from "../assets/images/udsigtfrarundetaarn.png";
import mennesker from "../assets/images/people_in_line.png";
import tychoGif from "../assets/images/gifs/tycho-fold-1.gif";
---
<MainLayout title="Titel">
	<article class="h-[550vh] bg-auto bg-center bg-no-repeat z-50" style="background-image: url('../../public/rundetaarn_baggrund.png');">
		<div class="panelCon h-full flex flex-col justify-between">
			<div id="pane-5" class="panel">Section 5</div>
			<div id="pane-4" class="panel">Section 4</div>
			<div id="pane-3" class="panel h-screen w-100">
				<section class="grid grid-cols-2">
					<div>
					<div class="w-[750px] parallaxelement mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
					<p class="mx-auto px-16 text-xl"> Brahe havde startet i Danmark. Brahes banebrydende arbejde inspirerede kongen til at skabe et sted, hvor danske astronomer kunne studere stjernerne – en arv, der fortsatte i Rundetårnets observatorium.
					</p></div>
					<div class="w-[750px] parallaxelement mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 ml-20" style="background-image: url('../../public/papir-lap.png');">
						<p class="mx-auto px-16 text-xl"> Selvom Rundetårn ofte forbindes med Tycho Brahe, havde han faktisk ikke noget med selve tårnet at gøre, da det blev bygget efter hans tid. Rundetårn blev opført i 1642 som observatorium af Christian IV for at fortsætte den astronomiske arv, 
						</p></div>
						<div class="parallaxelement mx-auto flex flex-col content-center items-center"><h1 class="text-7xl">Tycho Brahe</h1></div>
						
				</div>
	<img class="h-5/6 w-auto ml-20" src="tycho-fold-1.gif" alt="Gif af Tycho Brahe">
	</section>
		</div>
			<div id="pane-2" class="panel h-screen w-100">
				<section class="grid grid-cols-2">
					<img class="h-5/6 w-auto" src="Chris-fold-1.gif" alt="Gif af Christian d. 4">
				<div class="mr-20">
				<div class="w-[750px] parallaxelement1 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
				<p class="mx-auto px-16 text-xl"> Tårnet blev opført af Christian IV i 1642 for at fremme studiet af stjerner og videnskab og er stadig et symbol på Danmarks historiske engagement i forskning og opdagelser.
				</p></div>
				<div class="w-[750px] parallaxelement1 mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 ml-10" style="background-image: url('../../public/papir-lap.png');">
					<p class="mx-auto px-16 text-xl"> Rundetårn er ikonisk i dansk astronomi og videnskab, fordi det blev bygget som et af Europas første observatorier og fungerede som centrum for astronomisk forskning i Danmark.
					</p></div>
					<div class="w-[750px] parallaxelement1 mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 mr-20" style="background-image: url('../../public/papir-lap.png');">
						<p class="mx-auto px-16 text-xl"> På toppen af rundetårnet, ligger Europas ældste observatorium, som er førhen blev benyttet af de førende danske astronomer.
						</p></div>
					<div class="parallaxelement mx-auto flex flex-col content-center items-center"><h1 class="text-7xl">Christian d. 4</h1></div>
					
					</div>
</section>
</div>
<div id="pane-1" class="panel h-screen w-100 z-10 flex flex-col" >
				<div class="w-[750px] parallaxelement13 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
					<p class=" w-3/4 mx-auto ">Tårnet blev opført af Christian IV i 1642 for at fremme studiet af stjerner og videnskab og er stadig et symbol på Danmarks historiske engagement i forskning og opdagelser.
					</p>
				</div>
				<div class="w-[750px] parallaxelement12 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
					<p class=" w-3/4 mx-auto ">Rundetårn er ikonisk i dansk astronomi og videnskab, fordi det blev bygget som et af Europas første observatorier og fungerede som centrum for astronomisk forskning i Danmark. 
					</p>
				</div>
				<div class="w-[750px] parallaxelement11 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
						<p class=" w-3/4 mx-auto ">På toppen af rundetårnet, ligger Europas ældste observatorium, som er førhen blev benyttet af de førende danske astronomer.
						</p>
				</div>
				<Image class="z-10 w-2/4 flex-end " src={mennesker} alt="udsigt fra rundetårn/bybillede af KBH"/>
				<div class="z-1000 w-screen" style="background-image: url('../../public/udsigtfrarundetaarn.png');"></div>
			</div>
			
		</div>
	</article>
</MainLayout>

<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";


	scroll(animate(".parallaxelement11", { y: [50, 500] }), {
		target: document.querySelector(".parallaxelement11"),
	});

	scroll(animate(".parallaxelement12", { y: [60, 500] }), {
		target: document.querySelector(".parallaxelement12"),
	});

	scroll(animate(".parallaxelement13", { y: [70, 500] }), {
		target: document.querySelector(".parallaxelement13"),
	});

	scroll(animate(".parallaxelement2", { y: [60, 1000] }), {
		target: document.querySelector(".parallaxelement2"),
	});

	scroll(animate(".parallaxelement3", { y: [60, 1100] }), {
		target: document.querySelector(".parallaxelement3"),
	});

	document.addEventListener("DOMContentLoaded", function() {
  window.scrollTo(0, document.body.scrollHeight);
});
	
	</script>
