---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import udsigt from "../assets/images/udsigt.png";
import mennesker from "../assets/images/people_in_line.png";
import tychoGif from "../assets/images/gifs/tycho-fold-1.gif";
import starSky from "../assets/images/star-sky.jpg";

---
<MainLayout title="Titel">
	<article class="relative">
		<div class="bottom-0 left-0 w-full h-auto -z-40 absolute">
			<img class="h-full w-full" src="../../public/rundetaarn_baggrund.png" alt="rundetårn">
		</div>
		
		<div id="pane-5" class="panel -z-50 relative"><section class="scrollzoom overflow-clip absolute">
			<Image src={starSky} class="scrollzoomimg w-full" alt="">
			</section> </div>

		<div id="pane-4" class="panel h-screen w-100">
			<section class="grid grid-cols-2">
				<img class="h-full w-2/3 ml-20" src="teleskop-fold.gif" alt="Gif af teleskop">
				<div>
				<div class="w-[750px] parallaxelement mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
				<p class="mx-auto px-16 text-xl"> I dag har alle mulighed for at udnytte observatiomet. 
					Fra oktober til marts, er der åbent kl. 18-21 i observatoiet, så man kan komme op og kigge gennem stjernekiggerten. Her er der rig mulighed for at se planeter og meteorsværme.<br><br> Se kalenderen for hvornår man kan se diverse himmelfænomener. 
				</p></div>
				<div class="w-[750px] parallaxelement mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 ml-20" style="background-image: url('../../public/papir-lap.png');">
					<p class="mx-auto px-16 text-xl"> Observatoriet i Rundetårn er udstyret med en historisk stjernekikkert fra 1929, der stadig bruges til offentlige observationer af nattehimlen.<br><br>
Med kikkerten kan besøgende udforske månen, planeterne og stjernerne. Det moderne observatorium suppleres med nyere teleskoper og guider, som giver indsigt i astronomiens historie og universets undere. 
					</p></div>
			</div>

			</section>
		</div>
			<div id="pane-3" class="panel h-screen w-100 mt-60">
				<section class="grid grid-cols-2">
					<div>
					<div class="w-[750px] parallaxelement33 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
					<p class="mx-auto px-16 text-xl"> Brahe havde startet i Danmark. Brahes banebrydende arbejde inspirerede kongen til at skabe et sted, hvor danske astronomer kunne studere stjernerne – en arv, der fortsatte i Rundetårnets observatorium.
					</p></div>
					<div class="w-[750px] parallaxelement32 mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 ml-20" style="background-image: url('../../public/papir-lap.png');">
						<p class="mx-auto px-16 text-xl"> Selvom Rundetårn ofte forbindes med Tycho Brahe, havde han faktisk ikke noget med selve tårnet at gøre, da det blev bygget efter hans tid. Rundetårn blev opført i 1642 som observatorium af Christian IV for at fortsætte den astronomiske arv, 
						</p></div>
						<div class="parallaxelement31 mx-auto flex flex-col content-center items-center titlebackground1"><h1 class="">Tycho Brahe</h1></div>
				</div>
	<img class="h-full w-2/3 ml-20" src="tycho-fold-1.gif" alt="Gif af Tycho Brahe">
	</section>
		</div>

			<div id="pane-2" class="panel h-screen w-100 mt-60">
				<section class="grid grid-cols-2">
					<img class="h-5/6 w-2/3 mt-10" src="Chris-fold-1.gif" alt="Gif af Christian d. 4">
				<div class="mr-20">
				<div class="w-[750px] parallaxelement24 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
				<p class="mx-auto px-16 text-xl"> Tårnet blev opført af Christian IV i 1642 for at fremme studiet af stjerner og videnskab og er stadig et symbol på Danmarks historiske engagement i forskning og opdagelser.
				</p></div>
				<div class="w-[750px] parallaxelement23 mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 ml-10" style="background-image: url('../../public/papir-lap.png');">
					<p class="mx-auto px-16 text-xl"> Rundetårn er ikonisk i dansk astronomi og videnskab, fordi det blev bygget som et af Europas første observatorier og fungerede som centrum for astronomisk forskning i Danmark.
					</p></div>
					<div class="w-[750px] parallaxelement22 mx-auto p-10 h-auto bg-no-repeat bg-cover mt-24 mr-20" style="background-image: url('../../public/papir-lap.png');">
						<p class="mx-auto px-16 text-xl"> På toppen af rundetårnet, ligger Europas ældste observatorium, som er førhen blev benyttet af de førende danske astronomer.
						</p></div>
					<div class="parallaxelement21 mx-auto flex flex-col content-center items-center titlebackground1"><h1 class="">Christian d. 4</h1></div>
					
					</div>
</section>
</div>
<div id="pane-1" class="panel h-screen w-100 z-10 flex flex-col mt-60" >
				<div class="w-[750px] parallaxelement13 p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
					<p class=" w-3/4 mx-auto ">Tårnet blev opført af Christian IV i 1642 for at fremme studiet af stjerner og videnskab og er stadig et symbol på Danmarks historiske engagement i forskning og opdagelser.
					</p>
				</div>
				<div class="flex flex-row-reverse">
					<div class="w-[750px] parallaxelement12  p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
						<p class=" w-3/4 mx-auto ">Rundetårn er ikonisk i dansk astronomi og videnskab, fordi det blev bygget som et af Europas første observatorier og fungerede som centrum for astronomisk forskning i Danmark. 
						</p>
					</div>
				</div>
				<div class="w-[750px] parallaxelement11 mx-auto p-10 h-auto bg-no-repeat bg-cover" style="background-image: url('../../public/papir-lap.png');">
						<p class=" w-3/4 mx-auto ">På toppen af rundetårnet, ligger Europas ældste observatorium, som er førhen blev benyttet af de førende danske astronomer.
						</p>
				</div>
			</div>
			
			<div class="relative">
				<Image class="w-2/3 absolute bottom-[-58rem]" src={mennesker} alt="mennesker i kø"  />
				<audio autoplay id="city-sound" onclick="playSound()">
					<source src="city_noise.mp3" type="audio/mpeg">
				</audio>
			</div>
			<Image class="-z-50 relative w-full h-full" src={udsigt} alt="udsigten fra rundetårn"  />
	<!-- <div class=""><Image class="w-2/3 " src={udsigt} alt="mennesker i kø"/></div> 
 <div class="z-1000 w-screen" style="background-image: url('../../public/udsigtfrarundetaarn.png');"></div> -->

		</div>
	</article>
</MainLayout>

<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";


	scroll(animate(".parallaxelement11", { y: [-1000, 30, 500] }), {
		target: document.querySelector(".parallaxelement11"),
	});

	scroll(animate(".parallaxelement12", { y: [-1400, 60, 500] }), {
		target: document.querySelector(".parallaxelement12"),
	});

	scroll(animate(".parallaxelement13", { y: [-1600, 70, 500] }), {
		target: document.querySelector(".parallaxelement13"),
	});

	scroll(animate(".parallaxelement21", { y: [-1000, 30, 30] }), {
		target: document.querySelector(".parallaxelement21"),
	});

	scroll(animate(".parallaxelement22", { y: [-1400, 30, 500] }), {
		target: document.querySelector(".parallaxelement22"),
	});

	scroll(animate(".parallaxelement23", { y: [-1500, 30, 500] }), {
		target: document.querySelector(".parallaxelement23"),
	});

	scroll(animate(".parallaxelement24", { y: [-1600, 30, 500] }), {
		target: document.querySelector(".parallaxelement24"),
	});

	scroll(animate(".parallaxelement31", { y: [-1000, 30, 30] }), {
		target: document.querySelector(".parallaxelement31"),
	});

	scroll(animate(".parallaxelement32", { y: [-1400, 30, 500] }), {
		target: document.querySelector(".parallaxelement32"),
	});

	scroll(animate(".parallaxelement33", { y: [-1500, 30, 500] }), {
		target: document.querySelector(".parallaxelement33"),
	});

	
	scroll(
    animate(".scrollzoomimg", { 
        scale: [1, 1.5]    
    }),
    { 
      target: document.querySelector(".scrollzoom"),
      offset: ["end end", "0.75 end"]
    }
    )

	document.addEventListener("DOMContentLoaded", function() {
  window.scrollTo(0, document.body.scrollHeight);
});
	
</script>
<script>
	
	let audio = document.getElementById('city-sound');
	
	function playSound() {
		audio.currentTime = 0; // Reset to start
		audio.play();
	}
	
	window.addEventListener('scroll', function() {
		// Check scroll direction
		if (window.scrollY < this.lastScrollY) {
			fadeOutSound();
		}
		this.lastScrollY = window.scrollY; // Store the current scroll position
	});
	
	function fadeOutSound() {
		if (audio.volume > 0) {
			audio.volume -= 0.01; // Decrease volume
		}
	}
	
	// Set initial volume
	audio.volume = 1.0; // Set to max volume initially
	
	
</script>