---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import rundetaarn from "../assets/images/rundetaarn_baggrund.png";
---
<MainLayout title="Titel">
	<article>
		<div class="panelCon">
			<div id="pane-5" class="panel">Section 5</div>
			<div id="pane-4" class="panel">Section 4</div>
			<div id="pane-3" class="panel">Section 3</div>
			<div id="pane-2" class="panel h-screen w-100 relative" style="background-image: url('/hj.jpg');">
				<p class="parallaxelement w-3/4 mx-auto p-10 bg-slate-50 text-xl">På toppen af rundetårnet, ligger Europas ældste observatorium, som er førhen blev benyttet af de førende danske astronomer.
				</p>
			</div>
			<div id="pane-1" class="panel">
				<div class="mb-[1500px]">
					<Image class="mx-auto w-11/12 mb-[1500px]" src={rundetaarn} alt="rundetaarn"/>
				</div>
			</div>
			
		 </div>
	</article>
</MainLayout>

<script>
	/* Import af Motion One biblioteket */
	import { animate, stagger, inView, scroll, timeline } from "motion";
		scroll(animate(".parallaxelement", { y: [50, 500] }), {
			target: document.querySelector(".parallaxelement"),
		});
		
</script>
