---
---
<div class="bg-[#FFF3C1] flex flex-row justify-between p-6 pl-8">

   <div class=" flex flex-row gap-[60px]">
        <h4>Det sker</h4>
        <h4>Besøg os</h4>
        <h4>Rundetaarn</h4>
        <h4>Info</h4> 
   </div>
   <div>
    logo
   </div>
</div>
  