---

---
<!-- <script >
    function toggleInfo() {
      const imgBox = document.getElementById("img-box");
      if (imgBox.style.display === "none" || imgBox.style.display === "") {
        imgBox.style.display = "block";
      } else {
        imgBox.style.display = "none";
      }
    }
  </script> -->

<div class="grid grid-cols-3 mt-24  h-screen w-screen">
    <div class="glow container mt-[100px] ml-[80px]">
        <!-- <div class="star-container relative" onClick="toggleInfo()"> -->
            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="blue"/>
            </svg>
            <div id="img-box" class="img-box ">
                <img src="moon.jpg" alt="moon" />
            </div>
    </div>
    <div class="glow mt-[10px] ml-[110px]">
            <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
            </svg>
    </div>
    <div class="glow mt-[50px] ml-[85px] ">
        <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
        </svg>
</div>
<div class="glow mt-[100px] ml-[360px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div >
<div class="glow  mt-[220px] ml-[260px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div >
<div class="glow  mt-[-100px] ml-[360px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div >
<div class="glow mb-[20px] ml-[100px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div>
<div class="glow mb-[220px] ml-[10px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div>

<div class="glow mb-[350px] ml-[380px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div >
<div class="glow mt-[-10px] ml-[230px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div >
<div class="glow mb-[10px] ml-[30px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div>
<div class="glow mt-[-150px] ml-[50px]">
    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.4716 1.49092C10.7709 0.569611 12.0744 0.569613 12.3737 1.49092L14.2154 7.15918C14.3493 7.5712 14.7333 7.85016 15.1665 7.85016H21.1264C22.0952 7.85016 22.4979 9.08978 21.7142 9.65918L16.8925 13.1624C16.542 13.417 16.3954 13.8684 16.5293 14.2804L18.371 19.9487C18.6703 20.87 17.6159 21.6361 16.8321 21.0667L12.0104 17.5635C11.6599 17.3089 11.1853 17.3089 10.8349 17.5635L6.01315 21.0667C5.22944 21.6361 4.17496 20.87 4.47431 19.9486L6.31604 14.2804C6.44991 13.8684 6.30326 13.417 5.95277 13.1624L1.13106 9.65918C0.347345 9.08978 0.750122 7.85016 1.71885 7.85016H7.6788C8.11203 7.85016 8.49599 7.5712 8.62986 7.15918L10.4716 1.49092Z" fill="white"/>
    </svg>
</div>
</div>


<style>

/* .img-box {
   opacity: 0;
    position: absolute;
    top: 20px; 
    left: 20px; 
    width: 500px;
    
  }

  .star-container:hover .img-box {
 opacity: 100%;
  } */
     /* Styling for the image box
  .img-box {
    display: none; /* Initially hidden 
    position: absolute;
    top: 50px; /* Adjust as needed 
    left: 0; /* Adjust as needed 
    z-index: 10;
  }*/

  /* Display image when hovering over the star container 
  .star-container:hover .img-box {
    display: block;
  }*/

  .img-box {
    display: none;
    opacity: 0% ;
    width: 20px;
    z-index: -50;
  }
  .img-box:hover {
    display: block;
    opacity: 100%;
    scale: (1.5);
    z-index: 100;
    cursor: pointer;
  }

  .container{
    display: grid;
    place-items: center;
  }

  svg, .img-box {
    grid-area: 1/1;
  }

  
    .glow {
  animation-name: glow_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes glow_kf {
  0% {
    filter: none;
  }
  40% {
    filter: drop-shadow(0px 0px 10px #ffffe4);
  }
  60% {
    filter: none;
  }
  80% {
    filter: drop-shadow(0px 0px 10px #ffffe4);
  }
  100% {
    filter: none;
  }
}


</style>