---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
// import '../styles/reverse-scroll.css';
import 'animate.css';
import $ from "jquery";

const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{Astro.props.title}</title>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</head>
	<body >

		<header>
			<Header></Header>
		</header>
		
		<main >
			<slot />
		</main>

		<footer>
			<Footer></Footer>
		</footer>
		<!-- <script
		src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
		crossorigin="anonymous"
	  >
	</script>
	  <script>
	  $(window).on("scroll", function () {
		$(".panelCon").css("bottom", $(window).scrollTop() * -1);
	  });
	  
	  $(".button").on("click", function () {
		$(".panelCon").toggleClass("disable");
		$(this).toggleClass("green");
		$(this).hasClass("green")
		  ? $(this).html("Enable Reverse Scrolling")
		  : $(this).html("Disable Reverse Scrolling");
	  });


	
	  </script> -->
	</body>

</html>